* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 120px 50px;
    gap: 30px;
}

.addTask {
    background-color: green;
    border-radius: 8px;
}



.board {
    display: flex;
    width: 280px;
    min-width: 280px;
    min-height: 672px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #333;
    background: #101010;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

.task {
    display: flex;
    width: 240px;
    padding: 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #1a1a1a;

}

.text {
    flex: 1
}

.black {
    border: 1px solid white;
    background: #000;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.backdrop {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00000080;
    display: none;
    justify-content: center;
    align-items: center;
}

.dialog {
    z-index: 2;
    width: fit-content;
    background: white;
    padding: 20px;
}